* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin-top: 3.7%;
}
/* .row {
  margin-top: -3.7%;
} */
#user-details {
  border: 1px solid rgb(153, 153, 153);
  height: 100vh;
  padding-top: 20px;
  background-color: rgb(236, 236, 236);
}
.user-id {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-img {
  margin: 5px auto;
}
.user-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.more-details {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.user-address ul {
  position: relative;
  left: 25%;
}
.logout-btn {
  display: flex;
  justify-content: center;
}
.logout-btn button {
  margin: 5 auto;
}
.profile-link {
  display: none;
}
/* nav #user-nav-block {
  display: none;
} */
/* user posts  */
#user-posts {
  background-color: #ccc;
}
#user-posts .block1 .text-area input[type="text"] {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  outline: none;
  border: 1px solid gray;
}
#user-posts .block1 .text-area input::placeholder {
  font-size: larger;
}
#user-posts .block1 .text-area input[type="file"] {
  display: none;
}
#user-posts .block1 .text-area > .btn {
  margin: 10px;
}

/* Dynamic elements css */

#new-posts {
  margin: 5px;
}
/* #new-posts .post-block {
  margin: 5px;
  border: 1px red;
} */
#new-posts .header-block {
  padding: 10px;
  width: 100%;
  background-color: rgb(122, 122, 122);
}
#new-posts .header-block img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#new-posts .header-block span {
  font-weight: bolder;
  color: white;
  margin-left: 15px;
}
#new-posts .post-block {
  margin-bottom: 10px;
  border: 1px solid;
  max-width: 100%;
  padding:10px;
  background-color: rgb(241,240,241);
}
#new-posts .post-block .image-block img {
  padding: 20px;
  width: 100%;
  margin: 5px;
}
#new-posts .post-block .article-block p {
  margin: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#new-posts .post-block .opt-block {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  /* padding: 15px; */
  list-style: none;
  align-items: center;
  /* cursor: pointer; */
}
#new-posts .post-block .opt-block i {
  margin-left: 5px;
}
#new-posts .post-block .opt-block li {
  cursor: pointer;
  padding: 15px;
}

/* mobile user */
#mobile-user {
  display: none;
  margin-top: 20px;
  border: 2px solid;
  background-color: tan;

  /* left: 30%; */
}

@media (max-width: 1400px) {
  /* .main {
    margin-top: 8%;
  } */
  /* nav #user-nav-block {
    display: block;
  } */
}
@media (max-width: 990px) {
  .main {
    margin-top: 9%;
  }
  #user-ads {
    display: none;
  }
  .profile-link {
    display: block;
  }
  #user-details {
    display: none;
  }
  /* mobile user */
  #mobile-user {
    /* display: block; */
    margin-top: 20px;
    border: 2px solid gray;
    background-color: rgb(75, 74, 73);
    padding-top: 20px;
    position: absolute;
    top: 5%;
    color: white;
  }
  #mobile-user #toggle-btn {
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
  }
  #mobile-user .logout-btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .main {
    margin-top: 15%;
  }
}
@media (max-width: 420px) {
  .main {
    margin-top: 16%;
  }
  .user-img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  /* .profile-link {
    display: block;
  }
  #user-details {
    display: none;
  } */
  #new-posts {
    display: flex;
    justify-content: start;
    flex-direction: row;
    overflow: hidden;
    padding: 10px;
  }
  #new-posts .post-block .img-block img {
    width: 100%;
  }
}
